tr(data-id=customer.id)
  td= customer.name
  td
    if (customer.email)
      a(href='mailto:' + customer.email)= customer.email
    else
      | No email present.
  td
    if (customer.address && customer.address.street)
      | #{customer.address.street}
    else
      | No address present.
  td
    if (customer.address && customer.address.zip)
      | #{customer.address.zip}, #{customer.address.city}
    else
      if (customer.address && customer.address.city)
        | #{customer.address.city}
      else
        | No address present.