tr(data-id=id)
  td= name
  td
    if (email)
      a(href='mailto:' + email)= email
    else
      | No email present.
  td
    if (address.street)
      | #{address.street}
    else
      | No address present.
  td
    if (address.zip)
      | #{address.zip}, #{address.city}
    else
      | No zip present, #{address.city}