tr(data-id=id)
  td= name
  td
    if (email)
      a(href='mailto:' + email)= email
    else
      | No email present.
  td
    if (address && address.street)
      | #{address.street}
    else
      | No address present.
  td
    if (address && address.zip)
      | #{address.zip}, #{address.city}
    else
      if (address && address.city)
        | #{address.city}
      else
        | No address present.