section(data-id=id)
  div.page-header
    h3= name
    h4= email
  div.row
    address
    if (address.street && address.city && address.zip)
      | #{address.street}
      br
      | #{address.city}, #{address.zip}
    else
      | #{address.city}
  div.row
    div.col-xs-2.col-xs-offset-4
      a.btn.btn-warning(href='/customers/' + id + '/change') Change
    div.col-xs-2
      a.btn.btn-danger(href='/customers/' + id + '/delete') Delete