div
  div.col-xs-4
    div.thumbnail
      img.img-rounded.img-responsive(alt='Image of ' + customer.name,
        src=customer.image.url)
  div.col-xs-8
    div.row
      div.page-header
        h3#name(contenteditable='true')= customer.name
        h4#email(contenteditable='true')= customer.email
        address
        if (customer.address && customer.address.city)
          if (customer.address.street && customer.address.city && customer.address.zip)
            span#street(contenteditable='true')= customer.address.street
            br
            span#city(contenteditable='true')= customer.address.city
            span#zip(contenteditable='true')= customer.address.zip
          else
            span#city(contenteditable='true')= customer.address.city
        else
          | You can add an address with a click the "change" button.
    div.row
      div.col-xs-12
        div.btn-group.pull-right.hidden#actions
          button.btn.btn-primary(id='submit', type='button')
            span.glyphicon.glyphicon-ok
            |  Submit
          button.btn.btn-default(id='cancel', type='button')
            span.glyphicon.glyphicon-remove
            |  Cancel
