extends ../layout

block styles
  link(rel='stylesheet', href='/stylesheets/build/common.css')
  link(rel='stylesheet', href='/stylesheets/build/customers.css')

block content
  #customers
    .container-fluid
      .col-xs-10.col-xs-offset-1
        .row#customers-header
          .navbar
            a.navbar-brand(href='/customers') Customers
            form.navbar-form.navbar-right(
              role='form',
              action='/customers'
            )
              input.form-control(
                name='search',
                type='search',
                placeholder='Search for customer'
              )
              button.btn.btn-default(type='submit') Search
              a.btn.btn-primary(href='/customers/create') Create
        .row#customers-content
          block content-inner

block scripts
  script(src='/javascripts/build/common.js')
  script(src='/javascripts/build/customers.js')
  script
    | require('./app/common');
    | require('./app/customers');
