extends layout

block content-inner
  table.table.table-hover
    thead
      tr
        th Name
        th Email
        th Straße
        th Ort
    tbody
      for customer in customers
        tr
          td: a(href='/customers/' + customer.id)= customer.name
          td
            if (customer.email)
              a(href='mailto:' + customer.email)= customer.email
            else
              | No email present.
          td
            if (customer.address && customer.address.street)
              | #{customer.address.street}
            else
              | No address present.
          td
            if (customer.address && customer.address.zip)
              | #{customer.address.zip}, #{customer.address.city}
            else
              if (customer.address && customer.address.city)
                | #{customer.address.city}
              else
                | No address present.
