section#customers-show
  .col-xs-3.col-xs-offset-1
    .thumbnail
      img.img-rounded.img-responsive(src=customer.image.url)
  .col-xs-7
    button.close(type='button') &times;
    .page-header
      h2(
        data-name='name',
        contenteditable='true'
      ) #{customer.name}
    address
      a(
        href='mailto:' + customer.email,
        data-name='email',
        contenteditable='true'
      ) #{customer.email}
      br
      br
      if customer.address.street
        span(
          data-name='address.street',
          contenteditable='true'
        ) #{customer.address.street}
        br
      if customer.address.city
        span(
          data-name='address.city',
          contenteditable='true'
        ) #{customer.address.city}
        if customer.address.zip
          span(
            data-name='address.zip',
            contenteditable='true'
          )  #{customer.address.zip}
    .btn-group.pull-right
      button.btn.btn-danger.hidden(type='button') Delete
      button.btn.btn-primary.hidden(type='button') Update
      button.btn.btn-default.hidden(type='button') Cancel

