extends layout

block overlay-inner
  .modal-header
    h3.modal-title Sign-In
  .modal-body
    form(role='form', action='/session', method='POST')
      if (flash.error)
        p.alert.alert-danger
          | #{flash.error}
      fieldset
        .col-xs-10.col-xs-offset-1
          .form-group
            label(for='username')
              | Username
            input.form-control(
              type='text',
              id='username',
              name='username',
              required='required',
              autofocus='true',
              placeholder='Your username'
            )
          .form-group
            label(for='password')
              | Password
            input.form-control(
              type='password',
              id='password',
              name='password',
              placeholder='Your password',
              required='required'
            )
          .btn.group.center-block
            button.btn.btn-primary(type='submit')
              span.glyphicon.glyphicon-lock
              |  Authenticate
