div
  div.col-xs-4
    div.thumbnail
      img.img-rounded.img-responsive(alt='Image of ' + customer.name,
        src=customer.image.url)
  div.col-xs-8
    div.row
      div.page-header
        h3#name(contenteditable='true')= customer.name
        h4#email(contenteditable='true')= customer.email
        address
        if (customer.address && customer.address.city)
          if (customer.address.street && customer.address.city && customer.address.zip)
            span#street(contenteditable='true')= customer.address.street
            br
            span#city(contenteditable='true')= customer.address.city
            span#zip(contenteditable='true')= customer.address.zip
          else
            span#city(contenteditable='true')= customer.address.city
        else
          | You can add an address with a click the "change" button.
    div.row
      div.col-xs-4.col-xs-offset-8
        div.btn-group.show#actions
          button.btn.btn-default(id='update', type='button') Update
          button.btn(id='destroy', type='button') Destroy
        div.btn-group.hidden#controls
          button.btn.btn-default(id='submit', type='button') Submit
          button.btn(id='cancel', type='button') Cancel