.form-group
  label.control-label(
    for='variations-foobar',
    contenteditable='true'
  ) Label
  .input-group
    input.form-control(
      type='text',
      name='variations-foobar',
      placeholder='value1, value2, value3, ...'
    )
    span.input-group-addon
      span.glyphicon.glyphicon-tags
