extends layout

block content-inner
  section.row
    div.col-xs-6.col-xs-offset-3.col-md-3.col-md-offset-1
      div.thumbnail
        img.img-rounded.img-responsive(
          alt=product.name,
          src=product.images[0].url
        )
    div.col-xs-12.col-md-7
      div.row
        p.alert.alert-danger.hidden
      div.row
        div.page-header
          h2#name(contenteditable='true')= product.name
        p.lead= product.description
        p.lead.text-right
          | Retail Price: #{product.pricing.retail} €
      div.row
        table.table
          thead
            th Name
            th URL
          tbody
            for image in product.images
              tr
                td= image.name
                td= image.url
      div.row
        div.col-xs-6
          h4 Details
            pre#details(contenteditable='true')= JSON.stringify(product.details, null, 2)
        div.col-xs-6
          h4 Variations
            pre#variations(contenteditable='true')= JSON.stringify(product.variations, null, 2)
      div.row
        div.col-xs-4.col-xs-offset-8
          div.btn-group.hidden#actions
            button.btn.btn-primary(id='submit', type='button')
              span.glyphicon.glyphicon-ok
              |  Submit
            button.btn.btn-default(id='cancel', type='button')
              span.glyphicon.glyphicon-remove
              |  Cancel
