extends layout

block modal
  - console.log(flash);
  - product = flash.product || product || {}
  - path = '/products' + ((product.id) ? '/' + product.id : '')
  form(
    role='form',
    action=path,
    method='POST'
  )
    if flash.error
      p.alert.alert-danger= flash.error.toString()
    fieldset
      if product.id
        input(type='hidden', name='_method', value='PUT')
      div.col-xs-10.col-xs-offset-1
        div.form-group
          label.control-label(for='name') Name
          input.form-control(
            name='name',
            type='text',
            value=product.name,
            required='required',
            placeholder='Max Mustermann'
          )
        div.form-group
          label.control-label(for='images') Images
          input.form-control(
            name='images',
            type='text',
            value=product.images,
            required='required',
            placeholder='name1:url1, name2:url2, ...'
          )
        div.form-group
          label.control-label(for='details') Details
          input.form-control(
            name='details',
            type='text',
            value=product.details,
            required='required',
            placeholder='detail1:key1:value1, detail2:key2:value2, ...'
          )
        div.form-group
          label.control-label(for='variations') Variations
          input.form-control(
            name='variations',
            type='text',
            value=product.variations,
            required='required',
            placeholder='key1:value1, key1:value2, ...'
          )
        div.form-group
          label.control-label(for='description') Description
          textarea.form-control(
            name='description',
            type='text',
            rows=10,
            required='required',
            placeholder='This is the best product in tha world.'
          )= product.description
        div.form-group.has-feedback
          label.control-label(for='pricing') Pricing
          input.form-control(
            name='pricing',
            type='number',
            min=0.00,
            step=0.01,
            value=product.variations,
            required='required',
            placeholder='3.99'
          )
          span.glyphicon.glyphicon-euro.form-control-feedback
        div.btn-group.pull-right
          button.btn.btn-primary(type='submit')
            span.glyphicon.glyphicon-ok
            |  Submit
          a.btn.btn-default(href=path)
            span.glyphicon.glyphicon-remove
            |  Cancel
